<% fields_for person_name do |person_name_form| -%>
<tr class="lightzebra">
  <td class="lighttext">Prefix</td>
  <td><%= person_name_form.text_field :name_prefix %></td>
</tr>
<tr class="darkzebra">
  <td class="lighttext">First Name</td>
  <td><%= person_name_form.text_field :first_name %></td>
</tr>
<tr class="lightzebra">
  <td class="lighttext">Last Name</td>
  <td><%= person_name_form.text_field :last_name %></td>
</tr>
<tr class="darkzebra">
  <td class="lighttext">Suffix</td>
  <td><%= person_name_form.text_field :name_suffix %></td>
</tr>
  <% end -%>