<tr>
  <td class="hitsp_c32_attribute_name">First Name:</td>
  <td class="hitsp_c32_attribute_value">
      <%=h person_name.first_name %>
  </td>
  <td class="hitsp_c32_attribute_name">Prefix:</td>
  <td class="hitsp_c32_attribute_value">
      <%=h person_name.name_prefix %>
  </td>
</tr>
<tr>
  <td class="hitsp_c32_attribute_name">Last Name:</td>
  <td class="hitsp_c32_attribute_value">
      <%=h person_name.last_name %>
  </td>
  <td class="hitsp_c32_attribute_name">Suffix:</td>
  <td class="hitsp_c32_attribute_value">
      <%=h person_name.name_suffix %>
  </td>
</tr>
