<% form_tag do_provide_and_register_xds_patient_url() do |f| -%>
  <input type="hidden" name="pd_id" value="<%= patient_data.id %>"/>
<table>
  <%= render :partial => 'provide_and_register_form' %>
  <tr>
    <td></td>
    <td><input type="submit" value="Provide and Register"/></td>
  </tr>
</table>
<% end -%>