<div class="content">
  <div class="container">

    <% if flash[:notice] %> 
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <h3>XDS Registry</h3>

    <div id="add_xds_patient">
      <% form_tag(:url => xds_patients_url, :method => 'post') do -%>
        <%= submit_tag "Add a Patient" %>
        <%= select_tag :patient_data_id, PatientData.html_select_options %>
      <% end -%>
    </div>

    <br/>

    <table id="xds_patients">
    </table>

  </div>
</div>
