<% @page_header = "Provide and Register C32 based on template for patient #{@patient.name}" %>
<% form_tag do_provide_and_register_xds_patient_url do |f| -%>
  <%= hidden_field_tag 'pd_id', @patient.id %> 
  <table>
    <%= render :partial => 'provide_and_register_form' %>
    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag 'Provide and Register' %> or <%= link_to 'Back', xds_patients_path %> </td>
    </tr>
  </table>
<% end -%>
