<div id="templateInformationContainer">
  <h3 style="position: fixed;"><%=h @patient_data.name %></h3>
  <br/>
  <%= link_to_remote 'Edit', 
        :update => 'templateInformationContainer',
        :url => edit_patient_data_instance_template_information_path(@patient_data),
        :method => 'get' %>
</div> 
