    body { 
        margin:10px 0 0 0;
        font:normal .75em arial;
        color:#000000;
    }
        
    a,
    #header a:hover
    {
        color:#cc3300; 
        text-decoration: none; 
    }

    #header a,
    a.noHighlights,
    a.noHighlights:hover{
        color:#000000;
        text-decoration:none;
    }
    
    /*navigation for the blind, blend this into the background*/
        
    #page { 
        margin:0 0 0 20px;
        width:960px;
    }  
       
    img{
        border-style: none
    }
    
    .hitsp_c32_module_header {
        border-collapse: collapse;
        margin-bottom: 10px;
        width: 690px;
    }
    
    .hitsp_c32_module {
        border-collapse: collapse;
        margin-bottom: 20px;
        width: 690px;
    }
    
    .hitsp_c32_language_module {
        border-collapse: collapse;
        margin-bottom: 0px;
        width: 690px;
    }
    
    .hitsp_c32_language_module td{
        border-bottom: 1px  dotted #666;
    }
    
    .hitsp_c32_module td{
        border-bottom: 1px  dotted #666;
    }
    
    .hitsp_c32_module_name {
        font-weight: bold;
        font:1.75em arial;
    }
  
    .hitsp_c32_element_name {
        font-weight: bold;
    }
    
    .hitsp_c32_attribute_name {
        font-weight: bold;
    }
    
    .hitsp_c32_attribute_value {
    }
    
    .hitsp_c32_attribute_bad_value {
        color:#000000;
        background:#ff8888;
    }
    
    .hitsp_c32_attribute_collapse {
        text-align:right;
    }
  
    .imageDescription{
        text-align: center;
    }
    
    /** Header **/                    
    #header {
        margin:0px;
        display: block;
        border-bottom: 1px dotted #CCC;
        width: 100%;
    }
    #header ul {
        text-align:left;
        padding-left: 0px;
        margin:20px 0 5px 0;
    }

    #header li {
        display:inline;
        padding-left: 20px;
        font:normal 1.10em arial;  
    }
    
    #header a.selected {
        font-weight: bold;
    }

    /** Sidebar * */   
    
    #sidebar {
        margin:10px 20px 0px 00px;
        width:200px;
        float:right;
    }
    
    #menu_key {
        margin:10px 0px 0px 0px;
        float:left;
        font:normal 0.8em arial;  
    }
    
    caption {
        margin:0 0 4px 0;
        text-align: left;        
        font-weight: bold;
        font:normal 1.75em arial;
    }

    #sidebar tr:hover {
        background:#f3f3f3;
    }
    
    .hitsp_module_list {
        border-collapse: collapse;
    }
    
    .hitsp_module_list td{
        border-bottom: 1px  dotted #666;
    }
        
    /*.hitsp_module_list td+td,*/
    .hitsp_mod{
        width:250px;
        color:#000000;
    }
    /*.hitsp_module_list td,*/
    .hitsp_required{
        width: 170px;
        text-align: right;    
        color:#555;
        padding: 5px 0 5px 0;
    }
    .hitsp_op{
        width: 170px;
        text-align: right;    
        color:#AAA;
        padding: 5px 0 5px 0;
    }
    th{
        text-align:left;
    }
    #sidebar thead th{
        border-bottom: 2px solid #ccc;
        margin-bottom: 10px;
    }
    
    #content {
        width:690px;
        float:right;
        padding:20px 20px 20px 20px;
        border-left:1px dotted #ccc;
    }
    
   #patientDataList {
        width:1000px;
        float:left;
        padding:20px 20px 20px 20px;
    }
    
    #vendorList {
        width:1000px;
        float:left;
        padding:20px 20px 20px 20px;
    }
    /** Footer **/
    
    #footer {
        color:#000;
        border-top:1px dotted #ccc;
        margin:0 0 30px 0;
        padding:20px 0 20px 0;
        clear:both;
    }
        
    #footer a {
        font-weight:bold;
        color:#000;
    }

    #footer a:hover {
        color:#c30;
    }

    #footerLinks{
        float:right;
    }
    
    #footer ul {
        text-align:left;
        padding-left: 0px;
        margin:20px 0 5px 0;
    }

    #footer li {
        display:inline;
        padding-left: 20px;
        font:normal 1.10em arial;  
    }
    
    #footer a.selected {
        font-weight: bold;
    }
    
    .progressBarComponent2 {
        background:#fff;
        padding:10px 0px 35px 35px;
        color:#adadad
    }
    
    .progressBarComponent2 .datapoint {
        color:#5e5e5e
    }
    
    .progressBarComponent2 .violation .datapoint {
        color:#f60
    }

    .progress em {
        font-style:normal;
        font-size:1.3em;
        font-weight:bold
    }

    .progress .metric {
        margin-right:1em
    }
    
    .progressBarComponent2 .metric {
        float:left;
        text-align:center; 
    }

    .progressBarComponent2 em {
        display:block;
        margin-top:.2em;
    }
    
    /* container for progress bar*/
    .requiredAttributeCompliance, .provisionalAttributeCompliance  {
        height:4.5em; 
        position:relative;
        background-repeat:no-repeat;
        background-position:left bottom;
    }
        
    .progressBarComponent1 .requiredAttributeCompliance, .progressBarComponent1 .provisionalAttributeCompliance {
        background-image:url(../images/1pctDone1.gif);
    }
    
    .progressBarComponent2 .requiredAttributeCompliance, .progressBarComponent2 .provisionalAttributeCompliance {
        background-image:url(../images/1pctDone2.gif); 
    }
        
    .requiredAttributeCompliance div span.portion, .provisionalAttributeCompliance div span.portion {
        height:13px;
        position:absolute;
        display:block;
        left:6px;
        bottom:0;
        background:url(../images/doneTile1.gif) repeat-x 0 100%;
    }
        
    .progress .remaining {
        margin-top:1em; 
    }

    .notStarted .remaining, .totallyDone .remaining {
        margin-left:none;
    }
    
    /*not sure but IE6 needs this*/
    * html .requiredAttributeCompliance div span.portion, * html .provisionalAttributeCompliance div span.portion {
        top:34px
    }
        
    /*Outside use cases for slider: turn off the slider for two use cases and activate a static image*/     
    .totallyDone, .notStarted {
        background:none !important
    }       
   
    .progressBarComponent2 .notStarted .requiredAttributeCompliance .provisionalAttributeCompliance {
        background-image:url(../images/notStarted2.gif); 
    }
    
    .progressBarComponent2 .totallyDone .requiredAttributeCompliance .provisionalAttributeCompliance {
        background-image:url(../images/totallyDone2.gif); 
    }

    .totallyDone .requiredAttributeCompliance span.portion, .totallyDone .provisionalAttributeCompliance span.portion, .notStarted .requiredAttributeCompliance span.portion, .notStarted .provisionalAttributeCompliance span.portion{
        display:none
    }
        
    .remaining {
        margin-left: 23px ;
    }