<% if language.new_record?
     language_div = 'languageNew' -%>
<div id="languageNew">
<% else
     language_div = "language#{language.id}"
   end 


   remote_form_for([:patient_data_instance, language], 
                    :update => language_div) do |f| -%>

                   <table class="hitsp_c32_language_module">
                     <tbody>
                       <tr>
                         <td width="160" class="hitsp_c32_attribute_value">
                           <%= f.select :language, ['English', 'Canadian French', 'l33t'] %>
                         </td>
                         <td width="160" class="hitsp_c32_attribute_value">
                           <%= f.text_field :mode %>
                         </td>
                         <td width="160" class="hitsp_c32_attribute_value">
                           <label><%= f.check_box :preference %></label> 
                         </td>
                         <td width="160" class="hitsp_c32_attribute_value">
                             <%= f.submit "Save" %>
                         </td>
                       </tr>
                     </tbody>
                   </table>                       
<% end -%>
<% if language.new_record? -%>
</div>
<% end -%>