<div id="templateInformationContainer" style="position: fixed;">
  <h3 style="position: fixed;"><%=h @patient.name %></h3>
  <br/>
  <%= link_to_remote 'Edit', 
        :update => 'templateInformationContainer',
        :url => {:controller => 'patient_data', :action => 'edit_template_info', :index => @patient},
        :method => 'get' %>
</div> 
