<div id="templateInformationContainer" style="position: fixed;">
  <h3 style="position: fixed;"><%=h @patient.name %></h3>
  <br/>
  <%= link_to_remote 'Edit', 
        :update => 'templateInformationContainer',
        :url => edit_template_info_patient_datum_url(@patient),
        :method => 'get' %>
</div> 
