    <form name="Form1" method="post" action="Index.aspx" id="Form1">
      
	<div id="login">
		<div id="cap-top"></div>
		<div id="cap-body">
			<div id="branding">
				<img id="imgLogo" src="images/laika.png" style="" alt="Laika">	
	            <h1>That's Okay. Everyone Forgets.</h1>
	            Just tell us the email address you used to create your account and we'll send you a new  one!
	            <hr class="login">
	        </div>
            <div id="panelLogin">
				<div style="padding-bottom:18px">
					<label>Your Email Address</label>
					<input name="txtLogin" id="txtLogin" class="textbox340" type="text">
				</div>
				
	            <div style="margin:20px 0 0 225px;width:auto;">
					<a class="whitebutton" href="/web/"><span>Cancel</span></a>
					<a class="bluebutton" href="/web/"><span>Reset Password</span></a>
				</div>
				
				<div class="doggyhelp">
					<img src="images/forgotpass_doggy.png">
					<div style="float:left;position:relative; top:-102px; left:26px; font-size:11px;"><a href="mailto:help@projectlaika.org">Still stuck?</a></div>
				</div>
				
			</div>
            			
		</div>
		<div id="cap-bottom"></div>
	</div><!-- END #login -->
    </form>
