<!-- Start Content -->
<div class="content">

  <div class="container">
    
  <h3>Verification Results</h3>
  <table id="dashboard">
      <tr valign="top">
          <th>Section</th>
          <th>Subsection</th>
          <th>Field</th>
          <th>Message</th>
      </tr>
      <% @results.each do |error| %>
      <tr>
        <td><%= error.section %></td>
        <td><%= error.subsection %></td>
        <td><%= error.field_name %></td>
        <td><%= error.error_message %></td>
      </tr>
    <% end -%>
</table> 


  </div>
</div>