<!-- Start Content -->
<div id="patientDataList">
  <br/>
  <table class="hitsp_module_list">
    <caption>C32 Tests</caption>
    <!-- there is a known bug in IE 6 regarding sibling selectors
         since we want the second column to look different than the first
         we are going to work aroudn this bug by inserting a class on every other td
    -->
    <tbody>
      <tr valign="top">
          <td>Section</td>
          <td>Subsection</td>
          <td>Field</td>
          <td>Message</td>
      </tr>
      <% @results.each do |error| %>
      <tr>
        <td><%= error.section %></td>
        <td><%= error.subsection %></td>
        <td><%= error.field_name %></td>
        <td><%= error.error_message %></td>
      </tr>
    <% end -%>
  </tbody>
</table> 
</div>
<!-- End Content -->

<!-- Start Footer -->
<div id="footer">
</div>
<!-- End Footer -->