<h1>New vendor_test_plan</h1>

<%= error_messages_for :vendor_test_plan %>

<% form_for(@vendor_test_plan) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', vendor_test_plans_path %>
