    body { 
        margin:10px 0 0 0;
        font:normal .75em arial;
        color:#000000;
    }
        
    a,
    #header a:hover
    {
        color:#cc3300; 
        text-decoration: none; 
    }

    #header a,
    a.noHighlights,
    a.noHighlights:hover{
        color:#000000;
        text-decoration:none;
    }
    
    /*navigation for the blind, blend this into the background*/
        
    #page { 
        margin:0 0 0 20px;
        width:960px;
    }  
       
    img{
        border-style: none
    }
    
    .hitsp_c32_module_header {
        border-collapse: collapse;
        margin-bottom: 10px;
        width: 690px;
    }
    
    .hitsp_c32_module {
        border-collapse: collapse;
        margin-bottom: 20px;
        width: 690px;
    }
    
    .hitsp_c32_module td{
        border-bottom: 1px  dotted #666;
    }
    
    .hitsp_c32_module_name {
        font-weight: bold;
        font:1.75em arial;
    }
  
    .hitsp_c32_element_name {
        font-weight: bold;
    }
    
    .hitsp_c32_attribute_name {
        font-weight: bold;
    }
    
    .hitsp_c32_attribute_value {
    }
    
    .hitsp_c32_attribute_bad_value {
        color:#000000;
        background:#ff8888;
    }
    
    .hitsp_c32_attribute_collapse {
        text-align:right;
    }
  
    .imageDescription{
        text-align: center;
    }
    
    /** Header **/                    
    #header {
        margin:0px;
        display: block;
        border-bottom: 1px dotted #CCC;
        width: 100%;
    }
    #header ul {
        text-align:left;
        padding-left: 0px;
        margin:20px 0 5px 0;
    }

    #header li {
        display:inline;
        padding-left: 20px;
        font:normal 1.10em arial;  
    }
    
    #header a.selected {
        font-weight: bold;
    }

    /** Sidebar * */   
    
    #sidebar {
        margin:20px 10px 0px 10px;
        width:200px;
        float:left;
    }
    
    #menu_key {
        margin:10px 0px 0px 0px;
        float:right;
        font:normal 0.8em arial;  
    }
    
    caption {
        margin:0 0 4px 0;
        text-align: left;        
        font-weight: bold;
        font:normal 1.75em arial;
    }

    #sidebar tr:hover {
        background:#f3f3f3;
    }
    
    .hitsp_module_list {
        border-collapse: collapse;
    }
    
    .hitsp_module_list td{
        border-bottom: 1px  dotted #666;
    }
        
    /*.hitsp_module_list td+td,*/
    .hitsp_mod{
        width:250px;
        color:#000000;
    }
    /*.hitsp_module_list td,*/
    .hitsp_required{
        width: 170px;
        color:#555;
        padding: 5px 0 5px 0;
    }
    .hitsp_op{
        width: 170px;
        color:#AAA;
        padding: 5px 0 5px 0;
    }
    th{
        text-align:left;
    }
    #sidebar thead th{
        border-bottom: 2px solid #ccc;
        margin-bottom: 10px;
    }
    
    #content {
        width:690px;
        float:left;
        padding:20px 20px 20px 20px;
        border-right:1px dotted #ccc;
    }

    /** Footer **/
    
    #footer {
        color:#000;
        border-top:1px dotted #ccc;
        margin:0 0 30px 0;
        padding:20px 0 20px 0;
        clear:both;
    }
        
    #footer a {
        font-weight:bold;
        color:#000;
    }

    #footer a:hover {
        color:#c30;
    }

    #footerLinks{
        float:right;
    }
    
    #footer ul {
        text-align:left;
        padding-left: 0px;
        margin:20px 0 5px 0;
    }

    #footer li {
        display:inline;
        padding-left: 20px;
        font:normal 1.10em arial;  
    }
    
    #footer a.selected {
        font-weight: bold;
    }