<p>
  <b>Start event:</b>
  <%=h @allergy.start_event %>
</p>

<p>
  <b>End event:</b>
  <%=h @allergy.end_event %>
</p>


<%= link_to 'Edit', edit_allergy_path(@allergy) %> |
<%= link_to 'Back', allergies_path %>
