    <% form_tag({}, {:name => "laika_login_form"}) do -%>
    <div id="login">
    	<div id="cap-top"></div>
        <div id="cap-body">
            <div id="branding">
                <%= image_tag "welcome.png", :id => 'imgLogo', :alt => 'Laika welcomes you!' %>
                Hey friend, please log in.
                <hr class="login">
            </div>
            <div id="panelLogin">
                <div style="padding-bottom:18px">
                    <label>Email Address</label>
                    <input type="text" name="email" id="email"/>
                </div>
                <div style="padding-bottom:18px">
                    <label>Password</label>
                    <input type="password" name="password" id="password"/>
                </div>
                                
                <input type="hidden" name="eventHandler" value="" onkeypress="return submitKeyPress(event);"/>
                <br />
                <div style="margin-left:295px;width:auto;">
                    <a class="whitebutton" href="#"><span>Cancel</span></a>
                     <a class="bluebutton"  href="javascript:submitLaikaLoginform();"><span>Login</span></a>
                </div>
                
                
                <div class="doggyhelp">
                <div class="" style="text-align:right;font-size:11px;float:right;height:0px;position:relative;top:145px;left:37px;">
                    Laika v1.1.<%= @version %><br>
                    <a class="loginlink" href="http://projectlaika.org" target="_blank">Project Laika</a> | 
                    <a class="loginlink" href="http://www.cchit.org" target="_blank">CCHIT</a> | 
                    <a class="loginlink" href="http://www.mitre.org" target="_blank">MITRE</a>
                </div>
                    <%= image_tag "login_doggy_two.png", :style => 'position:relative;top:11px;' %>
                    <% if flash[:notice] != nil && flash[:notice].length >= 0 %>
                      <div style="float:left;width:160px; position:relative; top:-156px; left:56px; line-height:1.2em; font-size:11px;">
                      <div style="float:left;position:relative; top:90px; left:-30px; font-size:11px;"><%= link_to 'Lost your password?', {:action => 'forgot_password'}, {:class => "loginlink"} %></div>
                      <%= flash[:notice] %>
                      </div>
                    <% else %>
                      <div style="float:left;width:160px; position:relative; top:-138px; left:58px; line-height:1.2em; font-size:11px;">Don't have an account?<br> No worries, <%= link_to 'create one now!', {:action => 'signup'}, {:class => "loginlink"} %></div>
                      <div style="float:left;position:relative; top:-96px; left:25px; font-size:11px;"><%= link_to 'Lost your password?', {:action => 'forgot_password'}, {:class => "loginlink"} %></div>
                    <% end %>
                    
                </div>
            </div>
                        
        </div>
        <div id="cap-bottom"></div>
    </div><!-- END #login -->
    <% end -%>