  <%= render :partial => '/person_names/show', :locals => {:person_name => insurance_provider_guarantor.person_name}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Patient Birth Date</td>
    <td><% if insurance_provider_guarantor.effective_date != nil %><%=h insurance_provider_guarantor.effective_date.strftime("%m/%d/%Y") %><% end %></td>
  </tr>