<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <title>Welcome to Laika</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-cache"><!-- no java_main.js so we don't check for idle state -->
    <%= stylesheet_link_tag 'master' %>  
    <!--[if lt IE 7]>
    <link rel="stylesheet" href="/CatalystStyles/ie6.css" type="text/css" media="screen" />    
    <![endif]-->    
    
    <script language="JavaScript" type="text/JavaScript">
    <!--
  
      function submitLaikaLoginform()
      {
        document.laika_login_form.submit(); 
      }
    //-->    
    </script>
    
</head>

<body class="login">

<%= yield  %>

</body>
</html>
